#carthage build --platform Mac
#carthage update --platform Mac

#Cartfile
# github "ReactiveCocoa/ReactiveCocoa" "v4.1.0"
# github "realm/realm-cocoa" "v0.102.1"
# github "ReactiveX/RxSwift" "2.5.0"
# github "antitypical/Result" ~> 0.4
# github "robrix/Box" "1.2.2"
# github "pepibumur/sugarrecord"
github "emaloney/CleanroomLogger"
# github "ReSwift/ReSwift"
# github "ReSwift/ReSwift-Recorder"
# github "jarsen/pipes"






