<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailProviders</key>
	<dict>
		<key>GMAIL</key>
		<dict>
			<key>ProxyClassName</key>
			<string>MxGmailProxy</string>
			<key>Name</key>
			<string>Gmail</string>
			<key>Labels</key>
			<dict>
				<key>INBOX</key>
				<string>INBOX</string>
				<key>UNREAD</key>
				<string>UNREAD</string>
				<key>STARRED</key>
				<string>STARRED</string>
				<key>SENT</key>
				<string>SENT</string>
				<key>TRASH</key>
				<string>TRASH</string>
				<key>SPAM</key>
				<string>SPAM</string>
				<key>DRAFT</key>
				<string>DRAFT</string>
			</dict>
		</dict>
		<key>YAHOO</key>
		<dict>
			<key>ProxyClassName</key>
			<string>HXYahooController</string>
			<key>Name</key>
			<string>Yahoo</string>
		</dict>
	</dict>
	<key>LabelNames</key>
	<dict>
		<key>INBOX</key>
		<dict>
			<key>Name</key>
			<string>Inbox</string>
		</dict>
		<key>UNREAD</key>
		<dict>
			<key>Name</key>
			<string>Unread</string>
		</dict>
		<key>STARRED</key>
		<dict>
			<key>Name</key>
			<string>Starred</string>
		</dict>
		<key>ALL</key>
		<dict>
			<key>Name</key>
			<string>All</string>
		</dict>
		<key>SENT</key>
		<dict>
			<key>Name</key>
			<string>Sent</string>
		</dict>
		<key>TRASH</key>
		<dict>
			<key>Name</key>
			<string>Trash</string>
		</dict>
		<key>SPAM</key>
		<dict>
			<key>Name</key>
			<string>Spam</string>
		</dict>
		<key>DRAFT</key>
		<dict>
			<key>Name</key>
			<string>Drafts</string>
		</dict>
		<key>OUTBOX</key>
		<dict>
			<key>Name</key>
			<string>Outbox</string>
		</dict>
	</dict>
	<key>DefaultLabels</key>
	<array>
		<string>INBOX</string>
		<string>UNREAD</string>
		<string>STARRED</string>
	</array>
	<key>ModelName</key>
	<string>MxModel</string>
	<key>ModelExtension</key>
	<string>momd</string>
</dict>
</plist>
