<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailboxProviders</key>
	<array>
		<dict>
			<key>ProxyClassName</key>
			<string>HXGmailProxy</string>
			<key>Name</key>
			<string>Gmail</string>
			<key>Id</key>
			<string>GMAIL</string>
			<key>Labels</key>
			<dict>
				<key>INBOX</key>
				<string>INBOX</string>
				<key>UNREAD</key>
				<string>UNREAD</string>
				<key>STARRED</key>
				<string>STARRED</string>
				<key>SENT</key>
				<string>SENT</string>
				<key>TRASH</key>
				<string>TRASH</string>
				<key>SPAM</key>
				<string>SPAM</string>
				<key>DRAFT</key>
				<string>DRAFT</string>
			</dict>
		</dict>
		<dict>
			<key>ProxyClassName</key>
			<string>HXYahooController</string>
			<key>Name</key>
			<string>Yahoo</string>
			<key>Id</key>
			<string>YAHOO</string>
		</dict>
	</array>
	<key>SystemLabels</key>
	<array>
		<dict>
			<key>code</key>
			<string>INBOX</string>
			<key>Name</key>
			<string>Inbox</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UNREAD</string>
			<key>Name</key>
			<string>Unread</string>
		</dict>
		<dict>
			<key>code</key>
			<string>STARRED</string>
			<key>Name</key>
			<string>Starred</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ALL</string>
			<key>Name</key>
			<string>All</string>
		</dict>
		<dict>
			<key>code</key>
			<string>SENT</string>
			<key>Name</key>
			<string>Sent</string>
		</dict>
		<dict>
			<key>code</key>
			<string>TRASH</string>
			<key>Name</key>
			<string>Trash</string>
		</dict>
		<dict>
			<key>code</key>
			<string>SPAM</string>
			<key>Name</key>
			<string>Spam</string>
		</dict>
		<dict>
			<key>code</key>
			<string>DRAFT</string>
			<key>Name</key>
			<string>Drafts</string>
		</dict>
		<dict>
			<key>code</key>
			<string>OUTBOX</string>
			<key>Name</key>
			<string>Outbox</string>
		</dict>
	</array>
	<key>DefaultLabels</key>
	<array>
		<string>INBOX</string>
		<string>UNREAD</string>
		<string>STARRED</string>
	</array>
</dict>
</plist>
